.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 6rem; */
  margin: auto;
  width: 400px;
  border: 1px solid cyan;
  box-shadow: 5px 10px 10px #888888;
  padding: 1rem;
  border-radius: 3%;
}
